<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC database connection settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

		<!-- Show generated SQL queries -->
		<property name="show_sql">true</property>

		<!-- Specify our model classes here -->
		<mapping class="com.revature.goshopping.entity.UserEntity"></mapping>
		<mapping class="com.revature.goshopping.entity.OrderEntity"></mapping>
		<mapping class="com.revature.goshopping.entity.ItemEntity"></mapping>
		<mapping class="com.revature.goshopping.entity.ItemOrderEntity"></mapping>
		<mapping class="com.revature.goshopping.entity.TagEntity"></mapping>


		<!-- Specify the entity mapping here -->
		<!-- <mapping resource="planet.hbm.xml"></mapping> -->

		<!-- Named query mapping through XML -->
		<!-- <mapping resource="namedquery.hbm.xml"></mapping> -->

	</session-factory>
</hibernate-configuration>