<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>goshopping</display-name>

    <!-- Root Context (IoC container / Bean container) -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <!-- Child Context -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dispatcherContext.xml</param-value>
        </init-param>
        <!--        this load on startup must come after init-param! see https://stackoverflow.com/a/5175139/7929314-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <!-- / : this is the mapping for the default Servlet. In this case, we're using the
        DispatcherServlet as our default servlet. If no other mappings are available in the
        web.xml, by default, this will be the Servlet that the mapping is delegated to -->
        <!-- /* : this will actually override any other servlet mappings that are specified
        inside our web.xml. So any other Servlets we define in this file will not be used -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>